@model System.Data.DataTable
@using System.Data;
@{
    Layout = null;
}
<style>
    table td:hover {
        background-color: rgba(0,0,0,.075);
    }

   
</style>

<div class="table-responsive">
    <table class="table text-nowrap table-bordered" id="mytable" style="width:100%;">
        <thead>
            <tr>
                @foreach (DataColumn col in Model.Columns)
                {
                    if (col.ColumnName != "Type")
                    {
                        <th>@col.ColumnName</th>
                    }
                }
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
            @foreach (DataRow row in Model.Rows)
            {
                var type = row["Type"].ToString();
                var bgColor = type == "In" ? "p-3 mb-2 bg-success text-white" : "p-3 mb-2 bg-danger text-white";
                var textClass = type == "In" ? "in-text" : "out-text";

                <tr>
                    @foreach (DataColumn col in Model.Columns)
                    {
                        if (col.ColumnName != "Type")
                        {
                            <td>@row[col.ColumnName]</td>
                        }
                    }
                    <td class="@bgColor text-center">
                        <span class="@textClass">@type</span>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
