
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/Home/Index">Home</a></li>
        <li class="breadcrumb-item active"><a href="/Training/Index">Training</a></li>
    </ol>
</nav>
<div class="card">
    <div class="card-body">
        <div class="card">
            <div class="card-body">
                <div class="row">

                    <div class="col-md-3">
                        <div class="form-group">
                            <label class="control-label">Employee</label>
                            <select id="rq_cre_for" class="form-control" asp-items="@(new SelectList(ViewBag.UserList,"u_id","u_full_name"))">
                                <option value="0">All</option>
                            </select>

                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="form-group">
                            <label class="control-label">Date Range</label>
                            <input id="reportrange" class="form-control" style="background: #fff; cursor: pointer; padding: 5px 10px; border: 1px solid #ccc; width: 100%" />
                        </div>
                    </div>

                    <div class="col-md-2" align="center">
                        <div class="form-group">

                            <button type="button" onclick="SearcbTraingingData();" style="margin-top:25px;" class="btn btn-primary"> Search</button>
                        </div>
                    </div>
                    <div class="col-md-4" align="center">
                        <div class="form-group">
                            <button type="button" onclick="OpenModalForAddTraining();" style="margin-top:25px;" class="btn btn-warning  pull-right  ">Add </button>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12" id="container">

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="TrainingModal"  role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Training</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="container">
                    <div class="row" id="filter">

                        <div class="col-md-4">

                            <div class="form-group">
                                <label class="control-label">Employee </label>
                                <select id="tr_u_id" class="form-control" asp-items="@(new SelectList(ViewBag.UserList,"u_id","u_full_name"))">
                                    <option value="0">All</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label class="control-label">With Effected Date </label>
                                <input class="form-control" type="date" id="from" value="@DateTime.Today.ToString("yyyy-MM-dd")" />
                            </div>
                           
                        </div>
                    </div>


                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" id="save" class="btn btn-success" onclick="addTraining()" >Save</button>
                </div>
            </div>
        </div>
    </div>
</div>
