@model Overtime.Models.LeaveDetail

@{
    ViewData["Title"] = "LeaveEdit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/Home/Index">Home</a></li>
        <li class="breadcrumb-item active"><a href="/Attandance/LeaveEdit">Update Leave</a></li>
    </ol>
</nav>
<div class="Pallet-fluid" style="margin-top:10px;">
    <div class="card">
        <div class="card-body">
            <div class="row">
                <div class="col-md-4">
                    <form asp-action="LeaveEdit">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <input type="hidden" asp-for="LeaveId" />
                        <div class="form-group">
                            <label asp-for="EmpName" class="control-label"></label>
                            <input asp-for="EmpName" class="form-control"  disabled/>
                            <span asp-validation-for="EmpName" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="StartDate" class="control-label"></label>
                            <input asp-for="StartDate" class="form-control" />
                            <span asp-validation-for="StartDate" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="EndDate" class="control-label"></label>
                            <input asp-for="EndDate" class="form-control" />
                            <span asp-validation-for="EndDate" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="LeaveType" class="control-label"></label>
                            <input asp-for="LeaveType" class="form-control" disabled/>
                            <span asp-validation-for="LeaveType" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <input type="submit" value="Update" class="btn btn-default" />
                        </div>
                    </form>
                </div>
            </div>
            <div>
                <a asp-action="LeaveDetail">Back to List</a>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
