@model System.Data.DataTable
@using System.Data;
@{
    ViewData["Title"] = "MonthReport";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .status_A {
        background-color: red;
    }
    .status_P {
        background-color: green;
    }
    td.status_N\/A {
        background-color: #f3f31b5e;
    }
    td {
        background: #e6e5cf;
        font-size: 10px;
        font-weight: bold;
        font-family: monospace;
        padding: 3px !important;
    }
    th {
        font-size: 10px;
        font-weight: bold;
        font-family: monospace;
        padding: 3px !important;
    }
</style>
<div class="container-fluid" style="margin-top:10px;">
    <div class="card">
        <div class="card-body">
            <div class="page-header">
                <h3>MonthReport</h3>
            </div>
            <div>
                <div class="card">
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table text-nowrap table-bordered " id="mytable" style="width:100%;">
                                <thead>
                                    <tr>
                                        @foreach (DataColumn col in Model.Columns)
                                        {
                                            <th style="text-align: center;"> @col.ColumnName</th>

                                        }

                                    </tr>
                                </thead>
                                <tbody>
                                    @{                                        
                                        foreach (DataRow row in Model.Rows)
                                        {
                                            <tr>

                                                @foreach (DataColumn col in Model.Columns)
                                                {
                                                    <td class="status_@row[col.ColumnName]"> @row[col.ColumnName]</td>

                                                }

                                            </tr>
                                        }
                                    }
                                    </tbody>
                                </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
